
nav a {

    position: relative;
    display:inline-flex;
    color: aliceblue;
    border: 2px cornflowerblue solid;
    margin: 5px;
    padding: 2px;
    font-size: large;
    font-family: monospace;
    font-weight: bold; 
    bottom: 165px;
    left: 400px;
    background-color: slateblue;
    
     
}

header {
    
}

header img {
    max-inline-size: 100%;
    display: flex;
    position: relative;
    object-fit: fill;
    width: 100%;
    

}

Header h1 {
    position: absolute;
    top: 0px;
    margin: 5px;
    color: aliceblue;
    font-size: xx-large;
    
}

body {
    background-color: steelblue;
}

.content-title h3,h4,h5 { 
    font-family: monospace;
    font-size: x-large;
    color: aliceblue;
    padding: 5px;
    float: left;
    border-right: 2px midnightblue solid;


}

contactme p {
    display: inline;
    color: aliceblue;
    margin: 5px;
    float: left;
    

}

.worklinks a {
    border: 2px midnightblue solid;
    margin: 5px;
    float: center;
    
    
}

