* {
    color: aliceblue;
    background-color: steelblue;
}

nav {
    display: inline;
    display: flex;
    float: right;
    top: 0px;
    right: 0px;
    margin: 5px;  
}

nav a {
    border: 2px midnightblue solid;
    margin: 5px;
    padding: 2px;
    font-size: large;
    font-family: monospace;
    font-weight: bold; 
    background-color: steelblue;
}

#subtitle {
    position: absolute;
    font-family: monospace;
    font-size: x-large;
    right: 90px;
    top: 100px;  
}

header img {
    max-inline-size: 100%;
    display: flex;
    position: relative;
    object-fit: fill;
    width: 100%;   
}

header h1 {
    background-color: steelblue;
    position: absolute;
    top: 0px;
    margin: 5px;
    font-size: xx-large;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.img-style{
    border: 2px midnightblue solid;
}

.title-style { 
    color: aliceblue;
    padding: 10px;
    font-size: large; 
    text-align: right; 
}

article {
    margin: 10px;
}

p { 
    border-left: 5px midnightblue solid;
    margin: 10px;
    padding: 5px;  
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 5px midnightblue solid;
    padding: 10px;
    position: relative;
    left: 103px;
}

information { 
    border-left: 5px midnightblue solid;
    left: 150px;
    bottom: 10px;
    margin: 10px;
    padding: 10px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    flex-wrap: nowrap;

}

.bottom-nav {
    justify-content: center;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    padding: 10px;
}

.sections {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
